.login {
    display: inline-block;
    padding: 5px 30px;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.signup {
    display: inline-block;
    padding: 3px 30px;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}