{% load i18n %}
{% load allauth account %}

<head>
    <meta charset="UTF_8">
    <meta name="viewport" content="width=device_width, initial_scale=1.0">
    {% block extra_style %}
    <link rel="stylesheet" href="static/myapp/css/login.css">
    <title>ログイン</title>
    {% endblock %}
</head>

{% block content %}
<!-- ヘッダー -->
    <h1>{% trans "Sign In" %}</h1>
        <p>
        まだアカウントを作成していない方は<a href="{{ signup_url }}">こちら</a> をクリックしてアカウントを作成してください。
        </p>
        <!-- <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                <label for="id_username">{% trans "Username" %}</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div>
                <label for="id_email">{% trans "Email" %}</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div>
                <label for="id_password">{% trans "Password" %}</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            {{ redirect_field }}
            <button type="submit" method="post">{% trans "Sign In" %}</button>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button">ログイン</button>
            </form>
        </form> -->
        
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ログイン</button>
        <p><a class="button" href="{% url 'account_reset_password' %}">パスワードをお忘れですか？</a></p>
        <p><a class="button" href="{% url 'index' %}">トップページへ</a></p>
        </form>
{% endblock content %}
