{% load i18n %}
{% load allauth account %}

<head>
    <meta charset="UTF_8">
    <meta name="viewport" content="width=device_width, initial_scale=1.0">
    {% block extra_style %}
    <link rel="stylesheet" href="static/myapp/css/login.css">
    <title>ログイン</title>
    {% endblock %}
</head>

{% block content %}
{% if form.errors  %}
<div class="login-error-message">
    <span>ユーザーID, パスワードが一致しません．</span>
</div>
{% endif %}
<!-- ヘッダー -->
    <h1>ログイン</h1>
        <p>
        まだアカウントを作成していない方は<a href="{{ signup_url }}">こちら</a> をクリックしてアカウントを作成してください。
        </p>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                <label for="id_login">メールアドレス</label>
                {{ form.login }}
                {{ form.login.errors }}
            </div>

            <div>
                <label for="id_password">パスワード</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button method="post">ログイン</button>
        </form>

        <p><a class="button" href="{% url 'index' %}">トップページへ</a></p>
        </form>
{% endblock content %}
