{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    {% block extra_style %}
    <title>フレンドリスト</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock extra_style %}
    <!-- <link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}"> -->
</head>
<body>
    {% block header %}
    <h1>フレンドリスト</h1>
    {% endblock header%}

    {% block content%}
    {% if users %}
        {% for user in users %}
            <div class="friend-box">
                <a href="{% url 'talk_room' user.id %}">{{user.username}}</a>
                <img class = "img" src="{{ user.icon }}" alt="{{ user.username }} icon"> 
                {% if user.latest_chat %}
                    <div class="latest_text">{{ latest_chat }}</div>
                    <div class="latest_time">{{ user.latest_chat.timestamp }}</div>
                {% else %}
                    <div>No recent chat</div>
                {% endif %}
               
            </div>
        {% endfor %}
    {% else %}
        <p>No friends yet.</p>
    {% endif %}
    {% endblock content %}
</body>
</html>
