{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    {% block extra_style %}
    <title>フレンドリスト</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock extra_style %}
    <link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}"> 
</head>
<body>
    {% block header %}
    <h1>フレンドリスト</h1>
    {% endblock%}
    {% block content %}
    <form class="search" action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text" />
        <button type="submit">検索</button>
    </form>
    {% if latest_chats %}
        {% for user, chat in latest_chats %}
            <div class="friend-box">
                <a href="{% url 'talk_room' user.id %}">{{ user.username }}</a>
                <img class="img" src="{{ user.icon }}" alt="{{ user.username }} icon"> 
                {% if chat %}
                    <div class="latest_text">{{ chat.content }}</div>
                    <div class="latest_time">{{ chat.timestamp }}</div>
                {% else %}
                    <div class="latest_text">トークがありません。</div>
                    <div class="latest_time">　　　　　　　　　　</div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p class="no_friends_message" >{{ no_friends_message }}</p>
    {% endif %}

    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
        {% if page_obj.number == page_num %}
        <li class="page-item active"><a class="page-link" href="#">{{page_num}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
{% endif %}

{% endblock content %}
    </body> 
</html>
